[submodule "third-party/muduo"]
	path = third-party/muduo
	url = https://github.com/chenshuo/muduo.git
[submodule "third-party/concurrentqueue"]
	path = third-party/concurrentqueue
	url = https://github.com/cameron314/concurrentqueue.git
